# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Secret keys and credentials
.env
*.pem

# Static files collected by collectstatic
/staticfiles/

# Local development settings
settings_local.py
deploy_temp/raot_deploy.tar.gz
deploy_temp/raot-project.tar.gz
