# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Django
*.log
local_settings.py
db.sqlite3-journal
media/
static/collected/

# Database
db.sqlite3
*.sqlite3
*.sqlite

# Local settings
*/settings_local.py
raotproject/settings_local.py

# Static files collected by collectstatic (for development)
# /staticfiles/

# Deployment files
deploy_temp/raot_deploy.tar.gz
deploy_temp/raot-project.tar.gz

# Local development settings
# settings_local.py

# Environment variables
.env
*.pem
