{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block field_sets %}
<div class="card">
    <div class="card-body">
        {% for fieldset in adminform %}
            <div class="fieldset-wrapper mb-4">
                {% if fieldset.name %}
                    <h3 class="mb-3 pb-2 border-bottom">{{ fieldset.name }}</h3>
                {% endif %}
                
                {% if fieldset.description %}
                    <div class="description mb-3">{{ fieldset.description|safe }}</div>
                {% endif %}
                
                <div class="row">
                    {% for line in fieldset %}
                        <div class="{% if line.fields|length == 1 %}col-md-6{% else %}col-md-12{% endif %} mb-3">
                            {% for field in line %}
                                <div class="form-group fieldWrapper{% if field.field.name %} field-{{ field.field.name }}{% endif %}">
                                    {{ field.errors }}
                                    {% if field.is_checkbox %}
                                        <div class="checkbox">
                                            {{ field.field }}
                                            <label for="{{ field.field.id_for_label }}">
                                                {{ field.field.label }}
                                            </label>
                                        </div>
                                    {% else %}
                                        <label for="{{ field.field.id_for_label }}">
                                            {{ field.field.label }}
                                        </label>
                                        {{ field.field }}
                                    {% endif %}
                                    {% if field.field.help_text %}
                                        <div class="help">{{ field.field.help_text|safe }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}